# OTP build output
graph/
otp.jar

# large raw data (NO subir a git)
graph-source/test/
graph-source/**/*.pbf
graph-source/**/*.zip
graph-source/resolved-sources.json
graph-source/__pycache__/

# OS junk
.DS_Store
*.log
